/* ---- NORMALIZE ---- */
* {
    margin: 0;
    padding: 0;
}

/* ---- GENERAL ---- */

html {
    scroll-behavior: smooth;
}

.mainContainer {
    height: 100%;
    width: 100%;
}

p,
a,
button,
li,
img[alt],
label,
input,
span,
q {
    font-family: 'Mada', sans-serif;
    font-weight: 300;
    color: #253421;
    letter-spacing: -.8px;
}

h1,
h2,
h4 {
    font-family: 'Homenaje', sans-serif;
    font-weight: 400;
    color: #253421;
    letter-spacing: -1px;
}

h2 {
    font-size: 50px;
}

button:hover {
    cursor: pointer;
}

button:active {
    outline: 0;
    border: none;
    transform: translate(1px, 1px);
}

button:focus {
    outline: 0;
}

/* ---- NUMBER OF SECTION ---- */

.numOfSection {
    position: absolute;
    right: 0;
    top: 40%;
}

.numOfSection span {
    font-size: 19px;
    font-family: 'Homenaje', sans-serif;
    font-weight: 400;
    padding: 0 46px 40px 46px;
    border-bottom: 1px solid #474747;
}

/* ---- ARROWS ---- */

.arrows {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 99;
    height: 200px;
}

.arrows img {
    margin: 30px 45px;
}

.arrows a:first-child {
    border-bottom: 1px solid #555;
}

/* ---- HEADER ---- */

.headerContainer {
    background: url(img/bg/header.png) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* ---- HEADER TITLE ---- */

.headerTitle h1 {
    text-align: center;
    font-size: 58px;
    line-height: 1;
    text-transform: uppercase;
    color: #2D302E;
}

.headerTitle h1::first-line {
    color: #fff;
}

/* ---- MENU ---- */

.navBar {
    display: flex;
    height: 54px;
    padding-top: 31px;
    padding-left: 15%;
    align-items: center;
}

/* ---- SCROLL MENU ---- */

.scrollMenu {
    display: none;
    position: fixed;
    top: 0;
    height: 100px;
    width: 70%;
    background-color: #333333;
    transition: .5s;
    z-index: 99;
}

.scrollMenu div {
    height: inherit;
}

.scrollMenu .menuIcon {
    width: 100px;
    background-color: #62c017;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scrollMenu .menuIcon span {
    text-transform: uppercase;
    color: #fff;
    font-weight 400;
    font-size: 12px;
    margin-top: 5px;
}

.scrollMenu div:last-of-type {
    position: relative;
}

/* ---- NAV ---- */

.logo img {
    padding: 0 17px;
}

.greenBar {
    width: 100px;
    height: 10px;
    background-color: #62c017;
    position: absolute;
    top: 0;
}

.menu {
    z-index: 100;
}

.menu ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.menu li {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 20px;
}

.menu li:first-child {
    padding-left: 126px;
    padding-right: 46px;
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.menu li:nth-child(2) {
    padding-left: 44px;
    padding-right: 49px;
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.menu li:nth-child(3) {
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.menu li:last-child {
    padding-left: 49px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #62c017;
    transition: .3s;
}

/* ---- COOKIES ---- */

.cookies {
    height: 100px;
    background-color: rgba(34, 34, 34, .8);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.cookies p {
    font-size: 14px;
    line-height: 1.35;
    width: 570px;
    color: #fff;
    margin: 0 5%;
}

.cookies a {
    color: #62c017;
    font-weight: 400;
}

.cookies a:hover {
    color: #fff;
    transition: .3s;
}

.cookies span {
    color: #fff;
}

.cookies img {
    height: 47px;
    width: 39px;
}

.cookies button {
    border-radius: 3px;
    background-color: rgb(98, 192, 23);
    width: 81px;
    height: 23px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ---- SECTIONS ---- */

/* ---- MISSION ----- */

#mission {
    display: flex;
    height: 550px;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#mission h2 {
    margin-top: 86px;
    margin-bottom: 50px;
}

#mission blockquote {
    position: relative;
    width: 55%;
}

#mission q {
    font-size: 22px;
    line-height: 1.8;
}

#mission q::before {
    content: ",,";
    position: absolute;
    font-size: 61px;
    font-weight: 900;
    left: -50px;
    top: -70px;
    width: 90px;
}

/* ---- CLIENTS ---- */

#clients {
    position: relative;
    height: 720px;
    width: 100%;
    background: url(img/bg/clients.png) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#clients h2 {
    color: #fff;
    margin-top: 120px;
}

.clientsWrapper {
    display: flex;
    height: inherit;
    width: inherit;
    flex-direction: row;
    justify-content: center;
    height: 50%;
}

.clientsWrapper img {
    height: 377px;
    width: 311px;
}

.clientsWrapper blockquote {
    margin-top: 70px;
    margin-bottom: 30px;
    position: relative;
}

.clientsWrapper q {
    color: #3c3c3c;
    font-size: 30px;
}

.clientsWrapper q::before {
    content: ",,";
    position: absolute;
    font-size: 61px;
    font-weight: 900;
    left: -50px;
    top: -55px;
    width: 90px;
}

.clientsWrapper p {
    margin-bottom: 30px;
    font-size: 22px;
}

.clientsWrapper a {
    color: #fff;
}

.clientsWrapper a:hover {
    color: #3c3c3c;
    transition: .3s;
}


.clientsWrapper .tags {
    list-style: none;
}

.clientsWrapper .tags li {
    color: #fff;
    font-size: 15px;
    padding: 0 5px;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
}

.comment {
    width: 40%;
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 2s ease;
}

.circles {
    height: 15px;
    margin-top: 75px;
    margin-left: 46px;
    position: absolute;
    top: 70%;
}

.circles div {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, .7);
    display: inline-block;
    margin: 0 10px;
    transition: .7s ease;
}

.circles div:hover {
    cursor: pointer;
}

.circles .up {
    background-color: #fff;
}

#clients .numOfSection span {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.hidden {
    display: none;
}

/* ---- PRODUCTS ---- */

#products {
    height: 1040px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products h2 {
    margin-top: 100px;
    margin-bottom: 40px;
}

#products p {
    font-size: 22px;
    margin-bottom: 65px;
}

#products .imgOfProducts {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#products .imgOfProducts div {
    height: 20%;
    width: 15%;
    margin: 40px;
    text-align: center;
}

#products .imgOfProducts img:hover {
    cursor: pointer;
}

/* ---- MAP ---- */

#contactMap {
    position: relative;
    height: 490px;
    width: 100%;
    display: flex;
    background: url(img/bg/map.png) center no-repeat;
    background-size: 100%;
}

#contactMap img {
    height: 33px;
    width: 33px;
    margin-top: 145px;
    margin-left: 20%;
    margin-right: 20px;
}

#contactMap h4 {
    font-family: 'Mada', sans-serif;
    font-weight: 400;
    margin-top: 150px;
}

#contactMap h4,
#contactMap p {
    font-size: 22px;
}

#contactMap p {
    line-height: 25px;
}

#contactMap p:first-of-type {
    margin: 40px 0;
}


/* ---- CONTACT ---- */

#contact {
    position: relative;
    background: url(img/bg/contact.png) center no-repeat;
    background-size: cover;
    width: 100%;
}

#contact .howToContact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

#contact button {
    border-radius: 3px;
    background-color: rgb(98, 192, 23);
    font-family: 'Homenaje', sans-serif;
    font-weight: 400;
    width: 263px;
    height: 42px;
    border: none;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: -.5px;
}

#contact button span {
    color: #fff;
}

#contact .form {
    display: none;
}

/* ---- FOOTER ---- */

footer {
    height 90px;
    width: 100%;
    background: url(img/bg/footer.png) center no-repeat;
    background-size: cover;
}

footer p {
    padding: 20px 0;
    margin-left: 18.5%;
    color: #8f8f8f;
    font-size: 14px;
}

/* ---- HAMBURGER MENU ---- */

.hamburger {
    display: inline-block;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

.hamburger ul {
    display: none;
}

.active {
    width: 90px;
    background-color: rgba(0, 0, 0, .3);
}

.hamburger div {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.rotate div:first-child {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.rotate div:nth-child(2) {
    opacity: 0;
}

.rotate div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -3px);
}

.active ul {
    list-style: none;
    display: block;
}

.active li {
    padding: 10px 10px;
}

.active a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

/* ---- RWD ---- */


@media (max-width: 1200px) and (min-width: 900px) {

    #mission q {
        font-size: 20px;
    }

    .clientsWrapper q {
        font-size: 25px;
    }

    .clientsWrapper p {
        font-size: 20px;
    }

    .comment {
        width: 30%;
    }

    #contactMap img {
        margin-left: 10%;
    }

    #contactMap .numOfSection {
        top: 50%;
    }

    footer p {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .scrollMenu {
        width: 700px;
    }
}


@media (max-width: 900px) and (min-width: 768px) {

    .navBar {
        padding-left: 0;
        justify-content: center;
    }

    .cookies p {
        margin: 0 2%;
    }

    #mission q {
        font-size: 18px;
    }

    .clientsWrapper q {
        font-size: 23px;
    }

    .clientsWrapper p {
        font-size: 19px;
    }

    .clientsWrapper img {
        height: 317px;
        width: 251px;
    }

    #products {
        height: 1340px;
    }

    #products .imgOfProducts {
        width: 700px;
    }

    #contactMap {
        background-size: auto;
    }

    #contactMap img {
        margin-left: 5%;
    }

    #contactMap .numOfSection {
        top: 50%;
    }

    .contact .howToContact {
        justify-content: space-evenly;
    }

    .scrollMenu {
        width: 700px;
    }

    .greenBar {
        background-color: #62c017;
        position: absolute;
        top: 0;
        left: 11.07%;
    }
}

@media (max-width: 900px) {
    .greenBar {
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 600px) {

    h2 {
        font-size: 40px;
    }

    .numOfSection span {
        font-size: 15px;
        padding: 0 40px 40px 40px;
        border-bottom: 1px solid #474747;
    }

    .menu {
        display: none;
    }

    .cookies {
        justify-content: space-around;
    }

    .cookies p {
        font-size: 12px;
        margin: 0;
        width: 70%;
    }

    .cookies img {
        display: none;
    }

    #mission q {
        font-size: 17px;
    }

    #mission q::before {
        font-size: 51px;
        top: -60px;
        left: -40px;
    }

    .comment {
        margin-left: 0;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .clientsWrapper blockquote {
        text-align: center;
    }

    .clientsWrapper q {
        font-size: 22px;

    }

    .clientsWrapper q::before {
        font-size: 51px;
        top: -50px;
        left: -60px;
    }

    .clientsWrapper p {
        font-size: 19px;
    }

    .clientsWrapper img {
        display: none;
    }

    #clients .numOfSection {
        top: 25%;
    }

    .circles {
        margin-top: 0;
        margin-left: 0;
    }

    #products {
        height: 1090px;
    }

    #products .imgOfProducts {
        width: 550px;
    }

    #products p {
        font-size: 17px;
    }

    #products .imgOfProducts img {
        height: 97%;
        width: 97%;
    }

    #products .imgOfProducts div {
        height: 12%;
        width: 15%;
    }

    #contactMap {
        background-position: center right;
        justify-content: flex-end;
    }

    #contactMap img {
        margin-left: 3%;
        margin-top: 45px;
    }

    #contactMap h4,
    #contactMap p {
        font-size: 18px;
    }

    #contactMap h4 {
        margin-top: 50px;
    }

    #contactMap p {
        margin-right: 10px;
        background-size: auto;
    }

    #contactMap .numOfSection {
        top: 70%;
    }

    .contact .howToContact {
        justify-content: space-evenly;
    }

    .contact button {
        width: 183px;
        font-size: 17px;
    }

    footer p {
        margin-left: 13%;
        font-size: 12px;
    }

    .navBar {
        padding-left: 40px;
        align-items: flex-start;
        justify-content: flex-start
    }

    .hamburger {
        display: inline-block;
    }

}

@media (max-width: 600px) and (min-width: 480px) {

    .arrows {
        display: none;
    }

    .numOfSection {
        display: none;
    }

    .headerTitle h1 {
        font-size: 52px;
    }

    .logo img {
        width: 53px;
        height: 32px;
    }

    h2 {
        font-size: 36px;
    }

    .menu {
        display: none;
    }

    .cookies {
        justify-content: space-evenly;
    }

    .cookies p {
        font-size: 10px;
        margin: 0;
        width: 60%;
    }

    .cookies img {
        display: none;
    }

    #mission q {
        font-size: 16px;
    }

    #mission q::before {
        font-size: 46px;
        top: -55px;
        left: -40px;
    }

    .comment {
        margin-left: 0;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .clientsWrapper blockquote {
        text-align: center;
    }

    .clientsWrapper q {
        font-size: 20px;
    }

    .clientsWrapper q::before {
        font-size: 46px;
        top: -45px;
        left: -60px;
    }

    .clientsWrapper p {
        font-size: 18px;
    }

    .clientsWrapper img {
        display: none;
    }

    .circles {
        margin-top: 0;
        margin-left: 0;
    }

    #products {
        height: 1040px;
    }

    #products .imgOfProducts {
        width: 450px;
    }

    #products p {
        font-size: 16px;
    }

    #products .imgOfProducts img {
        height: 97%;
        width: 97%;
    }

    #products .imgOfProducts div {
        height: 12%;
        width: 15%;
    }

    #contactMap {
        background-position: center right;
        justify-content: flex-end;
        background-size: auto;
    }

    #contactMap img {
        margin-left: 2%;
        margin-top: 45px;
        height: 23px;
        width: 23px;
    }

    #contactMap h4,
    #contactMap p {
        font-size: 16px;
    }

    #contactMap h4 {
        margin-top: 50px;
    }

    #contactMap p {
        margin-right: 30px;
    }

    .contact .howToContact {
        justify-content: space-evenly;
    }

    .contact button {
        width: 150px;
        font-size: 14px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    footer p {
        margin: 0;
        font-size: 12px;
    }

    .navBar {
        padding-left: 40px;
        align-items: flex-start;
        justify-content: flex-start
    }

    .hamburger {
        display: inline-block;
    }

}


@media (max-width: 480px) and (min-width: 320px) {

    .arrows {
        display: none;
    }

    .numOfSection {
        display: none;
    }

    .headerTitle h1 {
        font-size: 48px;
    }

    .logo img {
        width: 53px;
        height: 32px;
    }

    h2 {
        font-size: 36px;
    }

    .menu {
        display: none;
    }

    .cookies {
        justify-content: space-evenly;
    }

    .cookies p {
        font-size: 10px;
        margin: 0;
        width: 50%;
    }

    .cookies img {
        display: none;
    }

    .cookies button {
        width: 60px;
        font-size: 12px;
    }

    #mission {
        text-align: center;
        height: 620px;
    }

    #mission q {
        font-size: 14px;
    }

    #mission q::before {
        content: "";
    }

    .comment {
        margin-left: 0;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    #clients {
        height: 600px;
    }

    #clients h2 {
        margin-top: 60px;
    }

    .clientsWrapper blockquote {
        text-align: center;
    }

    .clientsWrapper q {
        font-size: 18px;
    }

    .clientsWrapper q::before {
        content: "";
    }

    .clientsWrapper p {
        font-size: 16px;
    }

    .clientsWrapper img {
        display: none;
    }

    .clientsWrapper .tags li {
        font-size: 12px;
    }

    .circles {
        margin-top: 0;
        margin-left: 0;
    }

    .circles div {
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }

    #products {
        height: 1500px;
        text-align: center;
    }

    #products .imgOfProducts {
        width: 280px;
    }

    #products p {
        font-size: 16px;
    }

    #products .imgOfProducts img {
        height: 70%;
        width: 100%;
    }

    #products .imgOfProducts div {
        height: 13%;
        width: 20%;
    }

    #contactMap {
        background-position: center right;
        justify-content: flex-end;
        background-size: 1000px;
        height: 450px;
    }

    #contactMap img {
        display: none;
    }

    #contactMap h4,
    #contactMap p {
        font-size: 14px;
    }

    #contactMap h4 {
        margin-top: 50px;
    }

    #contactMap p {
        margin-right: 10px;
    }

    #contactMap p:first-of-type {
        margin: 10px 0;
    }

    .contact .howToContact {
        justify-content: space-evenly;
    }

    .contact button {
        width: 150px;
        font-size: 14px;
    }

    footer p {
        width: 80%;
        margin: 0 auto;
        font-size: 10px;
    }

    .navBar {
        padding-left: 40px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hamburger {
        display: inline-block;
    }

    .active li {
        padding: 5px 5px;
    }

}

@media (max-width: 320px) {

    .arrows {
        display: none;
    }

    .numOfSection {
        display: none;
    }

    .headerTitle h1 {
        font-size: 48px;
    }

    .logo img {
        width: 53px;
        height: 32px;
    }

    h2 {
        font-size: 36px;
    }

    .menu {
        display: none;
    }

    .cookies {
        justify-content: space-evenly;
    }

    .cookies p {
        font-size: 10px;
        margin: 0;
        width: 50%;
    }

    .cookies img {
        display: none;
    }

    .cookies button {
        width: 60px;
        font-size: 12px;
    }

    #mission {
        text-align: center;
        height: 620px;
    }

    #mission q {
        font-size: 14px;
    }

    #mission q::before {
        content: "";
    }

    .comment {
        margin-left: 0;
        width: 70%;
        align-items: center;
        justify-content: space-between;
    }

    #clients {
        height: 600px;
    }

    #clients h2 {
        margin-top: 60px;
    }

    .clientsWrapper blockquote {
        text-align: center;
    }

    .clientsWrapper q {
        font-size: 18px;
    }

    .clientsWrapper q::before {
        content: "";
    }

    .clientsWrapper p {
        font-size: 16px;
    }

    .clientsWrapper img {
        display: none;
    }

    .clientsWrapper .tags li {
        font-size: 12px;
    }

    .circles {
        margin-top: 0;
        margin-left: 0;
    }

    .circles div {
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }

    #products {
        height: 1500px;
        text-align: center;
    }

    #products .imgOfProducts {
        width: 280px;
    }

    #products p {
        font-size: 16px;
    }

    #products .imgOfProducts img {
        height: 70%;
        width: 100%;
    }

    #products .imgOfProducts div {
        height: 13%;
        width: 20%;
    }

    #contactMap {
        background-position: center right;
        justify-content: flex-end;
        background-size: 1000px;
        height: 450px;
    }

    #contactMap img {
        display: none;
    }

    #contactMap h4,
    #contactMap p {
        font-size: 14px;
    }

    #contactMap h4 {
        margin-top: 50px;
    }

    #contactMap p {
        margin-right: 10px;
    }

    #contactMap p:first-of-type {
        margin: 10px 0;
    }

    .contact .howToContact {
        justify-content: space-evenly;
    }

    .contact button {
        width: 150px;
        font-size: 14px;
    }

    footer p {
        width: 80%;
        margin: 0 auto;
        font-size: 10px;
    }

    .navBar {
        padding-left: 40px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hamburger {
        display: inline-block;
    }

    .active li {
        padding: 5px 5px;
    }
}
